<li class="articleItem"[ngClass]="{'list-group-item': true,
                'list-group-item-success': isLoved(),
                'list-group-item-danger': isNotLoved()}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span class="title">{{PostItem.Title}}</span>
        <span class="offset-8 col-8, date">{{PostItem.Created_at | date: 'E dd.MM.y, H:mm:ss' | uppercase}}</span>
      </div>
      <div class="col-12">
        <p class="article, articlContent">{{PostItem.Content}}</p>
      </div>
      <div class="row, col-12 offset-12" style="text-align:left">
        <button class="btn btn-success"
                (click)="onIncrease()"
                style="background-color:darkgreen;color:white">
          <b *ngIf="isLoved()">{{PostItem.LoveIts}}</b> Love it!
        </button>
        <button class="btn btn-success"
                (click)="onDecrease()"
                style="background-color:darkred;color:white">
          <b *ngIf="isNotLoved()">{{PostItem.LoveIts * (-1)}}</b> Dont love it!
        </button>
        <button class="offset-8 col-1,btn btn-default"
                (click)="onDeletePost(post)"
                style="background-color:darkred;color:white">
          Delete
        </button>
      </div>
    </div>
  </div>
</li>
